/**************************************************
 * PHP DEBUGGER
 **************************************************/

/**************************************************
 * @package phpDebugger
 * @subpackage stylesheet
 * @version 1.01
 * @build 1042
 **************************************************/

/**************************************************
 * @author: Roman Matthias Keil
 * @copyright: Roman Matthias Keil
 **************************************************/

ul#debug {
	margin: 0ex;
	padding: 1ex;
	list-style-type: none;
}

ul#debug li {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 1em;
	text-align: left;
	vertical-align: middle;
	font-weight: normal;
	font-style: normal;
}

ul#debug li > span {
	width: 22em;
	display: inline-block;
}

span.debug {
	color: #FF00FF;
}
